<ng-container *transloco="let translate">
  <a class="app__skip-link" href="#main-content">{{ translate('shell.skipToContent') }}</a>

  <header class="app__header">
    <div class="app__branding">
      <span class="app__name">{{ translate('shell.appName') }}</span>
      <span class="app__tagline">{{ translate('shell.tagline') }}</span>
    </div>
    <div class="app__session">
      @if (currentUser(); as user) {
      <span class="app__user">{{ translate('shell.signedInAs', { name: user.name }) }}</span>
      @if (user.roles.includes('administrator')) {
      <a class="app__admin-link" routerLink="/admin/users">{{ translate('shell.adminLink') }}</a>
      }
      <form class="app__signout" method="post" action="/bff/logout">
        <button type="submit">{{ translate('shell.signOut') }}</button>
      </form>
      } @else {
      <a class="app__signin" href="/bff/login?returnUrl=/">{{ translate('shell.signIn') }}</a>
      }
    </div>
    <roomy-language-switcher />
  </header>

  <main id="main-content" class="app__main" tabindex="-1">
    <router-outlet />
  </main>

  <footer class="app__footer">
    <small>{{ translate('shell.appName') }}</small>
  </footer>
</ng-container>
